@import 'bootstrap/scss/bootstrap';

/* Estilo para la barra de navegación */

.bgnavbar {
    background-color: rgb(56, 102, 65);
    border-color: rgb(56, 102, 65);
}

.navbutton {
    background-color: rgb(167, 201, 87);
}

.bglogin {
    background-color: rgb(167, 201, 87);
}

.bggeneral {
    background-color: rgba(242, 232, 207);
}

.bgfooter {
    background-color: rgb(56, 102, 65);
}

.btnbg {
    background-color: rgb(56, 102, 65);
    color: white;
}

.btnbg:hover {
    background-color: rgb(16, 76, 28);
    color: white;
}

.btncarrito {
    background-color: rgb(167, 201, 87);
    color: white;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 60px;
}

.product-card {
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    padding: 20px;
    margin-bottom: 20px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 10px;
}

.opacity {
    opacity: 0.95;
}

.sticky-top {
    top: 1em;
}

.input-small {
    width: 500px;
}

.input-small2 {
    width: 120px;
}

.input-small3 {
    width: 120px;
}

.flag {
    margin: auto;
    height: 30px;
    width: 40px;
    overflow: hidden;
    border-radius: 5px;
}

.stripe {
    display: block;
    width: 100%;
}

.red {
    background-color: #AA151B;
    height: 25%;
}

.yellow {
    background-color: #F1BF00;
    height: 50%;
}


/* * {
    outline: solid grey;
} */

.cards .card {
    width: 350px;
    height: calc(350px * 1.33);
    /* Mantener la proporción 4:3 */
    border-radius: 30px;
    background: rgba(242, 232, 207);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 400ms;
}

.cards .card-img {
    border-radius: 30px;
}

.text-center {
    text-align: center;
}

@media (min-width: 577px) {
    .cards .card:hover {
        transform: scale(1.1, 1.1);
    }
}

@media (max-width: 576px) {
    .cards {
        margin-left: auto;
        margin-right: auto;
        display: table;
    }
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 0 !important;
}

.list_element:hover {
    background-color: rgb(56, 102, 65);
}